body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    height: 3000px;
    background-image: url("../images/fontHTML&CSS.jpg");
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 50%;
    max-width: 50%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}
@media all and (max-width: 380px) {
    body {
        font-size:12px;
        line-height:1 ;
    }

    h2 {
        font-size:12px;
        line-height:1 ;
    }
}
a.rollover {
    background: url("../images/html code.png");
    display: block;
    width: 250px;
    height: 250px;
}
a.rollover:hover {
    background-position: 0 -40px;
    width: 1366px;
    height: 768px;
}
#htmlcode  {
    float: right;
    margin: 7px 0 7px 7px;
}
h1 {
    font-size: 300%;
    font-family: "Comic Sans MS",sans-serif;
    text-align: center;
    color: black;
}
#fortext{
    font-size: 30px;
    color: orangered;
    text-indent: 35px;
    margin: 15px;
    text-align: right;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 58px;

}
a.rolloverl {
    background: url("../images/css code.png");
    display: block;
    width: 250px;
    height: 250px;
}
a.rolloverl:hover {
    background-position: 0 -40px;
    width: 1366px;
    height: 768px;
}
#csscode {
    float: left;
    margin: 7px 7px  7px 0;
}
#forCSS{
    font-size: 30px;
    color: orangered;
    text-indent: 35px;
    margin: 15px;
    text-align: left;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 140px;

}
a.rolloverla {
    background: url("../images/java code.png");
    display: block;
    width: 250px;
    height: 250px;
}
a.rolloverla:hover {
    background-position: 0 -40px;
    width: 1366px;
    height: 768px;
}
#javacode {
    float: right;
    margin: 7px 0 7px 7px;
}
#forJAVA{
    font-size: 30px;
    color: orangered;
    text-indent: 35px;
    margin: 15px;
    text-align: right;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 180px;

}
