* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100%;
    background-image: url("../images/yoda.png");
    background-repeat: no-repeat;

}

.drop_vert_menu {
    list-style-type: none;
    width: 198px;
    margin: 0;
    padding: 0;
}

.drop_vert_menu  ul {
    list-style-type: none;
    width: 180px;
    margin: 0;
    padding: 0;
}
.drop_vert_menu > li{
    position: relative;
    background: no-repeat 0 0;
    padding:10px 0px 10px 16px;
    border-top: 1px solid White;
}

.drop_vert_menu > li:hover {
    background:  no-repeat 0 0;
}
.drop_vert_menu > li > a{
    font-size:18px;
    color: White;
    text-decoration:none;
}


.drop_vert_menu li ul {
    position: absolute;
    display: none;
    top: 2px;
    left: 195px;
}

.drop_vert_menu li:hover ul {
    display: block;
}

.drop_vert_menu li ul li{
    text-align:left;
    list-style-type: none;
    padding: 8px 0px 8px 10px;
}

.drop_vert_menu li ul li:hover {
    list-style-type: none;

}

.drop_vert_menu li ul li a{
    font-size:18px;
    color:Orange;
    text-decoration:none;
}

.drop_vert_menu li ul li a:hover{
    font-size: 18px;
    color: Red;
    text-decoration:none;
}
h1 {
    text-align: center;
    font-family: "Comic Sans MS",sans-serif;
    color: lawngreen;
    font-size: 400%;

}
p {
    text-indent: 35px;
    color: deeppink;
    font-size: 25px;
    margin: 15px;

}
h2 {
    text-align: center;
    font-family: "Comic Sans MS",sans-serif;
    color: lawngreen;
    font-size: 400%;
}